<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1600349780687-6d9843b27916?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2669&q=80);">
  <div class="container">
    <h1>Put on your best show</h1>
    <p class="px-2">Create unforgettable experiences for your fans at <strong>Venuefinder's</strong> unique locations</p>
    <%= link_to "Find Venues", venues_path, class: "btn btn-primary button_margin" %>
  </div>
</div>

<div class="container col-6 text-center">

  <br>  
  <br>
  <div class="m-5">
    <h4 class="text-dark">
      Don't follow the crowd, let the crowd follow you!
    </h4>
    <p class="text-dark">Venuefinder connects those with beautifully undiscovered spaces with all those wanting to create memories.</p>
  </div>
  <br>

  <div class="d-flex my-5 justify-content-between align-items-center">
    <%= image_tag("small_venue.jpeg")%>
    <div class="p-4">
      <h2>Find a Venue</h2>
      <p class="text-secondary">Browse a list of the most inspiring venues on the planet</p>
      <%= link_to "All Venues", venues_path, class: "btn btn-primary"%>
    </div>
  </div>
  <br>

  <div class="d-flex my-5 justify-content-between align-items-center">
    <div class="p-4">
      <h2>Add a Venue</h2>
      <p class="text-secondary">If you own a unique setting, share it with the world...</p>
      <%= link_to "Add venue", new_venue_path, class: "btn btn-primary"%>
    </div>
    <%= image_tag("unique_venue.jpeg")%>
  </div>
  <br>
</div>
