<div class="col-10">
    <%= simple_form_for(@venue) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <div class="d-flex justify-content-between">
        <%= f.input :capacity %>
        <%= f.input :price %>
    </div>
        <%= f.input :available_start_date, label: "Start date:" %>
        <%= f.input :available_end_date, label: "End date:" %>
    </div>
    <%= f.submit :Submit %>
    <% end %>
</div>