<%= form_for @venue do |f| %>
  <div class="d-flex">
    <div class="">
      <%= f.label :name, class: "form-label" %>:
      <%= f.text_field :name, class: "form-control" %>
    </div>
     <div class="px-3">
      <%= f.label "Venue type:", class: "form-label" %>
      <%= f.text_field :building, class: "form-control", list: "datalistOptions", placeholder: "Type to search..." %>
      <datalist id="datalistOptions">
        <option value="Hotel">
        <option value="Restaurant">
        <option value="Conference Center">
        <option value="Social Club">
        <option value="Country Club">
        <option value="Exhibition Venue">
        <option value="Business Center">
      </datalist>
    </div>
  </div>

   <div class="d-flex align-items-center">
    <div class="">
      <%= f.label :address, class: "form-label" %>:
      <%= f.text_field :address, class: "form-control w-longer" %>
    </div>
    <div class="px-3">
      <%= f.label :city, class: "form-label" %>:
      <%= f.text_field :city, class: "form-control" %>
    </div>
     <div class="">
      <%= f.label :country, class: "form-label" %>:
      <%= f.text_field :country, class: "form-control" %>
    </div>
   </div>

  <%= f.label :description, class: "form-label" %>:
  <%= f.text_area :description, class: "form-control", rows: "3", placeholder: "Min. 6 characters" %>

  <div class="d-flex justify-content-between mb-3">
    <div>
      <%= f.label :capacity, class: "form-label" %>:
      <%= f.number_field :capacity, class: "form-control" %>

      <%= f.label :price, class: "form-label" %>:
      <%= f.number_field :price, class: "form-control" %>

      <%= f.label :photos, class: "form-label" %>:
      <%= f.file_field :photos, multiple: true, class: "form-control" %>
    </div>
    <div class="d-flex align-items-center">
      <div class="px-3">
        <%= f.label :available_start_date, min: Date.today, class: "form-label" %>:
        <%= f.date_field :available_start_date, class: "form-control" %>
      </div>
      <div class="px-3">
        <%= f.label :available_end_date, min: Date.tomorrow, class: "form-label" %>:
        <%= f.date_field :available_end_date, class: "form-control" %>
      </div>
    </div>
  </div>
  <%= f.submit class: "form-control btn btn-primary" %>
<% end %>
