<div class="venues">
  <div class="search my-5 container col-4">
    <%= form_with url: venues_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="cards">
    <% @venues.each do |venue| %>
    <div class="card">
      <% if venue.photos.attached? %>
        <%= link_to cl_image_tag(venue.photos.first.key, class: "card-img-top", height: 250, crop: :fill), venue_path(venue) %>
      <% else %>
        <%= link_to cl_image_tag("https://res.cloudinary.com/dtke2msby/image/upload/v1677529280/development/venue_img_placeholder_mtmrus.jpg", class: "card-img-top", height: 250, crop: :fill), venue_path(venue)%>
      <% end %>
      <div class="card-body px-0">
        <h2><%= venue.name %></h2>
        <p class="fw-lighter">
          <%= venue.available_start_date.strftime("%d %b") %> - <%= venue.available_end_date.strftime("%d %b") %>
        </p>
        <p>Capacity: <%=venue.capacity %></p>
        <p class="fw-semibold">€ <%= venue.price %> day</p>
      </div>
    </div>
    <% end %>
  </div>
</div>
