<div class="venues">
    <div class="cards">
      <% @venues.each do |venue| %>
      <div class="card">
        <%= link_to image_tag("https://source.unsplash.com/random/?venue"), venue_path(venue) %>
        <h2><%= venue.name %></h2>
        <div class="card-info">
          <p><%= venue.address %></p>
          <p>
            <%= venue.available_start_date.strftime("%d %b") %> - <%= venue.available_end_date.strftime("%d %b") %>
          </p>
          <p>Max. capacity: <%=venue.capacity %></p>
          <p>€ <%= venue.price %> day</p>
        </div>
      </div>
      <% end %>
    </div>
</div>
