<div class="container col-8">
    <div>
      <h1><%= @venue.name %></h1>
    </div>
    <div>
        <p><%= @venue.address %></p>
        <p><%= @venue.description %></p>
        <p>Capacity: <%=@venue.capacity %></p>
        <p>Price: €<%= @venue.price %></p>
    </div>
    <br>
    <% if @venue.user == current_user %>
      <div class="d-flex justify-content-between">
        <%= link_to "Edit Venue", edit_venue_path(@venue), class: "btn btn-warning" %>
        <%= link_to "Delete", venue_path(@venue), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary" %>
      </div>
      <br> 
    <% end %>

    <div class="d-flex justify-content-between">
      <%= link_to "Book", new_venue_booking_path(@venue), class: "btn btn-primary" %>
      <%= link_to "See Reviews", venue_reviews_path(@venue), class: "btn btn-info" %>
    </div>
</div>
