<div class="container">
    <div>
      <h1><%= @venue.name %></h1>
    </div> 
    <div>
        <p><%= @venue.address %></p>
        <p><%= @venue.description %></p>
        <p>Capacity: <%=@venue.capacity %></p> 
        <p>Price: €<%= @venue.price %></p>
    </div> 
    <br>
</div>