<div class="container col-6 my-3 show-page">
  <h1><%= @venue.name %>, <%= @venue.country %></h1>

  <div class="d-flex top-line align-items-center mb-3">
    <i class="fa-solid fa-star d-block"></i><span class="d-block ps-1">4.7</span><%= link_to "#{@venue.reviews.count} reviews", venue_reviews_path(@venue), class: "px-2" %>
    <i class="fa-solid fa-medal d-block ms-2"></i><span class="d-block px-1">Owner:</span><span><%= @venue.user.first_name %></span>
  </div>

  <div id="carouselExample" class="carousel slide mb-3">
    <div class="carousel-inner">
      <% @venue.photos.each do |photo| %>
        <div class="carousel-item active">
          <%= cl_image_tag(photo.key, class: "d-block w-100 h-100", crop: :fit) %>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container-body ">
    <div class="container-body-text">
      <div class="d-flex align-items-center mb-1">
        <i class="fa-solid fa-home d-block"></i><span class="mx-2"><%= @venue.address %></span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <i class="fa-solid fa-people-group d-block"></i><span class="mx-2"><%= @venue.capacity %></span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <i class="fa-solid fa-euro-sign d-block"></i><span class="mx-2"><%= @venue.price %> / day</span>
      </div>
      <hr>
      <p><%= @venue.description %></p>
    </div>

      <% if @venue.user == current_user %>
        <div class="d-flex justify-content-between">
          <%= link_to "Edit Venue", edit_venue_path(@venue), class: "btn btn-warning" %>
          <%= link_to "Delete", venue_path(@venue), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
      <% end %>

      <% unless @venue.user == current_user %>
          <div class="d-flex justify-content-between">
            <%= link_to "Book", new_venue_booking_path(@venue), class: "btn btn-primary" %>
            <%= link_to "Back to venues", venues_path, class: "btn btn-secondary" %>
          </div>
      <% end  %>
  </div>
</div>
