<div class="container col-8 justify-content-center">
    <div>
        <h1>Reviews for <em><%= @venue.name %></em></h1>
    </div>

    <div>
      <% @reviews.each do |review| %>
      <h5><%= review.title %></h5>
      <p><%= review.comment %></p>
      <p>Contributed by: 
        <%= User.find(Booking.find(review.booking_id).user_id).first_name %>
        <%= User.find(Booking.find(review.booking_id).user_id).last_name %>
      <p>
      <% end %>
    </div>

    <div class="d-flex justify-content-between">
      <%= link_to "Back to Venue", venue_path(@venue), class: "btn btn-primary" %>
      <% if current_user.bookings.pluck(:venue_id).include?(@venue.id) %>
        <%= link_to "Leave a Review", new_venue_review_path(@venue), class: "btn btn-info" %>
      <% end %>
    </div>
</div>