<div class="container col-8 justify-content-center">
    <div>
        <h1>Leave a review for <em><%= @venue.name %></em></h1>
    </div>

    <%= simple_form_for(@review) do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit :submit %>
    <% end %>

    <%= link_to "Back to Venue", venue_path(@venue), class: "btn btn-primary" %>
</div>